#logo {
    /* width: 16rem; */
    position: absolute;
    z-index: 1;
}


@-webkit-keyframes animate-background-stroke-1 {
    0% {
        stroke-dashoffset: 120.65083312988281px;
        stroke-dasharray: 120.65083312988281px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65083312988281px;
    }
}

@keyframes animate-background-stroke-1 {
    0% {
        stroke-dashoffset: 120.65083312988281px;
        stroke-dasharray: 120.65083312988281px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65083312988281px;
    }
}

.svg-background-1 {
    -webkit-animation: animate-background-stroke-1 1s linear 0s both;
    animation: animate-background-stroke-1 1s linear 0s both;
}

@-webkit-keyframes animate-background-stroke-2 {
    0% {
        stroke-dashoffset: 120.65083312988281px;
        stroke-dasharray: 120.65083312988281px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65083312988281px;
    }
}

@keyframes animate-background-stroke-2 {
    0% {
        stroke-dashoffset: 120.65083312988281px;
        stroke-dasharray: 120.65083312988281px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65083312988281px;
    }
}

.svg-background-2 {
    -webkit-animation: animate-background-stroke-2 1s linear 0.1s both;
    animation: animate-background-stroke-2 1s linear 0.1s both;
}

@-webkit-keyframes animate-background-stroke-3 {
    0% {
        stroke-dashoffset: 120.65083312988281px;
        stroke-dasharray: 120.65083312988281px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65083312988281px;
    }
}

@keyframes animate-background-stroke-3 {
    0% {
        stroke-dashoffset: 120.65083312988281px;
        stroke-dasharray: 120.65083312988281px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65083312988281px;
    }
}

.svg-background-3 {
    -webkit-animation: animate-background-stroke-3 1s linear 0.2s both;
    animation: animate-background-stroke-3 1s linear 0.2s both;
}

@-webkit-keyframes animate-background-stroke-4 {
    0% {
        stroke-dashoffset: 120.65083312988281px;
        stroke-dasharray: 120.65083312988281px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65083312988281px;
    }
}

@keyframes animate-background-stroke-4 {
    0% {
        stroke-dashoffset: 120.65083312988281px;
        stroke-dasharray: 120.65083312988281px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65083312988281px;
    }
}

.svg-background-4 {
    -webkit-animation: animate-background-stroke-4 1s linear 0.30000000000000004s both;
    animation: animate-background-stroke-4 1s linear 0.30000000000000004s both;
}

@-webkit-keyframes animate-background-stroke-5 {
    0% {
        stroke-dashoffset: 120.65083312988281px;
        stroke-dasharray: 120.65083312988281px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65083312988281px;
    }
}

@keyframes animate-background-stroke-5 {
    0% {
        stroke-dashoffset: 120.65083312988281px;
        stroke-dasharray: 120.65083312988281px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65083312988281px;
    }
}

.svg-background-5 {
    -webkit-animation: animate-background-stroke-5 1s linear 0.4s both;
    animation: animate-background-stroke-5 1s linear 0.4s both;
}

@-webkit-keyframes animate-background-stroke-6 {
    0% {
        stroke-dashoffset: 120.65083312988281px;
        stroke-dasharray: 120.65083312988281px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65083312988281px;
    }
}

@keyframes animate-background-stroke-6 {
    0% {
        stroke-dashoffset: 120.65083312988281px;
        stroke-dasharray: 120.65083312988281px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65083312988281px;
    }
}

.svg-background-6 {
    -webkit-animation: animate-background-stroke-6 1s linear 0.5s both;
    animation: animate-background-stroke-6 1s linear 0.5s both;
}

@-webkit-keyframes animate-background-stroke-7 {
    0% {
        stroke-dashoffset: 120.65084838867188px;
        stroke-dasharray: 120.65084838867188px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65084838867188px;
    }
}

@keyframes animate-background-stroke-7 {
    0% {
        stroke-dashoffset: 120.65084838867188px;
        stroke-dasharray: 120.65084838867188px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65084838867188px;
    }
}

.svg-background-7 {
    -webkit-animation: animate-background-stroke-7 1s linear 0.6000000000000001s both;
    animation: animate-background-stroke-7 1s linear 0.6000000000000001s both;
}

@-webkit-keyframes animate-background-stroke-8 {
    0% {
        stroke-dashoffset: 120.65084838867188px;
        stroke-dasharray: 120.65084838867188px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65084838867188px;
    }
}

@keyframes animate-background-stroke-8 {
    0% {
        stroke-dashoffset: 120.65084838867188px;
        stroke-dasharray: 120.65084838867188px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65084838867188px;
    }
}

.svg-background-8 {
    -webkit-animation: animate-background-stroke-8 1s linear 0.7000000000000001s both;
    animation: animate-background-stroke-8 1s linear 0.7000000000000001s both;
}

@-webkit-keyframes animate-background-stroke-9 {
    0% {
        stroke-dashoffset: 120.65084838867188px;
        stroke-dasharray: 120.65084838867188px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65084838867188px;
    }
}

@keyframes animate-background-stroke-9 {
    0% {
        stroke-dashoffset: 120.65084838867188px;
        stroke-dasharray: 120.65084838867188px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65084838867188px;
    }
}

.svg-background-9 {
    -webkit-animation: animate-background-stroke-9 1s linear 0.8s both;
    animation: animate-background-stroke-9 1s linear 0.8s both;
}

@-webkit-keyframes animate-background-stroke-10 {
    0% {
        stroke-dashoffset: 120.65084838867188px;
        stroke-dasharray: 120.65084838867188px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65084838867188px;
    }
}

@keyframes animate-background-stroke-10 {
    0% {
        stroke-dashoffset: 120.65084838867188px;
        stroke-dasharray: 120.65084838867188px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65084838867188px;
    }
}

.svg-background-10 {
    -webkit-animation: animate-background-stroke-10 1s linear 0.9s both;
    animation: animate-background-stroke-10 1s linear 0.9s both;
}

@-webkit-keyframes animate-background-stroke-11 {
    0% {
        stroke-dashoffset: 120.65082550048828px;
        stroke-dasharray: 120.65082550048828px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65082550048828px;
    }
}

@keyframes animate-background-stroke-11 {
    0% {
        stroke-dashoffset: 120.65082550048828px;
        stroke-dasharray: 120.65082550048828px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65082550048828px;
    }
}

.svg-background-11 {
    -webkit-animation: animate-background-stroke-11 1s linear 1s both;
    animation: animate-background-stroke-11 1s linear 1s both;
}

@-webkit-keyframes animate-background-stroke-12 {
    0% {
        stroke-dashoffset: 120.65082550048828px;
        stroke-dasharray: 120.65082550048828px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65082550048828px;
    }
}

@keyframes animate-background-stroke-12 {
    0% {
        stroke-dashoffset: 120.65082550048828px;
        stroke-dasharray: 120.65082550048828px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65082550048828px;
    }
}

.svg-background-12 {
    -webkit-animation: animate-background-stroke-12 1s linear 1.1s both;
    animation: animate-background-stroke-12 1s linear 1.1s both;
}

@-webkit-keyframes animate-background-stroke-13 {
    0% {
        stroke-dashoffset: 120.65082550048828px;
        stroke-dasharray: 120.65082550048828px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65082550048828px;
    }
}

@keyframes animate-background-stroke-13 {
    0% {
        stroke-dashoffset: 120.65082550048828px;
        stroke-dasharray: 120.65082550048828px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65082550048828px;
    }
}

.svg-background-13 {
    -webkit-animation: animate-background-stroke-13 1s linear 1.2000000000000002s both;
    animation: animate-background-stroke-13 1s linear 1.2000000000000002s both;
}

@-webkit-keyframes animate-background-stroke-14 {
    0% {
        stroke-dashoffset: 120.65083312988281px;
        stroke-dasharray: 120.65083312988281px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65083312988281px;
    }
}

@keyframes animate-background-stroke-14 {
    0% {
        stroke-dashoffset: 120.65083312988281px;
        stroke-dasharray: 120.65083312988281px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65083312988281px;
    }
}

.svg-background-14 {
    -webkit-animation: animate-background-stroke-14 1s linear 1.3s both;
    animation: animate-background-stroke-14 1s linear 1.3s both;
}

@-webkit-keyframes animate-background-stroke-15 {
    0% {
        stroke-dashoffset: 120.65083312988281px;
        stroke-dasharray: 120.65083312988281px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65083312988281px;
    }
}

@keyframes animate-background-stroke-15 {
    0% {
        stroke-dashoffset: 120.65083312988281px;
        stroke-dasharray: 120.65083312988281px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65083312988281px;
    }
}

.svg-background-15 {
    -webkit-animation: animate-background-stroke-15 1s linear 1.4000000000000001s both;
    animation: animate-background-stroke-15 1s linear 1.4000000000000001s both;
}

@-webkit-keyframes animate-background-stroke-16 {
    0% {
        stroke-dashoffset: 120.65080261230469px;
        stroke-dasharray: 120.65080261230469px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65080261230469px;
    }
}

@keyframes animate-background-stroke-16 {
    0% {
        stroke-dashoffset: 120.65080261230469px;
        stroke-dasharray: 120.65080261230469px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65080261230469px;
    }
}

.svg-background-16 {
    -webkit-animation: animate-background-stroke-16 1s linear 1.5s both;
    animation: animate-background-stroke-16 1s linear 1.5s both;
}

@-webkit-keyframes animate-background-stroke-17 {
    0% {
        stroke-dashoffset: 120.65082550048828px;
        stroke-dasharray: 120.65082550048828px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65082550048828px;
    }
}

@keyframes animate-background-stroke-17 {
    0% {
        stroke-dashoffset: 120.65082550048828px;
        stroke-dasharray: 120.65082550048828px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65082550048828px;
    }
}

.svg-background-17 {
    -webkit-animation: animate-background-stroke-17 1s linear 1.6s both;
    animation: animate-background-stroke-17 1s linear 1.6s both;
}

@-webkit-keyframes animate-background-stroke-18 {
    0% {
        stroke-dashoffset: 120.65080261230469px;
        stroke-dasharray: 120.65080261230469px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65080261230469px;
    }
}

@keyframes animate-background-stroke-18 {
    0% {
        stroke-dashoffset: 120.65080261230469px;
        stroke-dasharray: 120.65080261230469px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65080261230469px;
    }
}

.svg-background-18 {
    -webkit-animation: animate-background-stroke-18 1s linear 1.7000000000000002s both;
    animation: animate-background-stroke-18 1s linear 1.7000000000000002s both;
}

@-webkit-keyframes animate-background-stroke-19 {
    0% {
        stroke-dashoffset: 120.65082550048828px;
        stroke-dasharray: 120.65082550048828px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65082550048828px;
    }
}

@keyframes animate-background-stroke-19 {
    0% {
        stroke-dashoffset: 120.65082550048828px;
        stroke-dasharray: 120.65082550048828px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65082550048828px;
    }
}

.svg-background-19 {
    -webkit-animation: animate-background-stroke-19 1s linear 1.8s both;
    animation: animate-background-stroke-19 1s linear 1.8s both;
}

@-webkit-keyframes animate-background-stroke-20 {
    0% {
        stroke-dashoffset: 120.65082550048828px;
        stroke-dasharray: 120.65082550048828px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65082550048828px;
    }
}

@keyframes animate-background-stroke-20 {
    0% {
        stroke-dashoffset: 120.65082550048828px;
        stroke-dasharray: 120.65082550048828px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65082550048828px;
    }
}

.svg-background-20 {
    -webkit-animation: animate-background-stroke-20 1s linear 1.9000000000000001s both;
    animation: animate-background-stroke-20 1s linear 1.9000000000000001s both;
}

@-webkit-keyframes animate-background-stroke-21 {
    0% {
        stroke-dashoffset: 120.65080261230469px;
        stroke-dasharray: 120.65080261230469px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65080261230469px;
    }
}

@keyframes animate-background-stroke-21 {
    0% {
        stroke-dashoffset: 120.65080261230469px;
        stroke-dasharray: 120.65080261230469px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65080261230469px;
    }
}

.svg-background-21 {
    -webkit-animation: animate-background-stroke-21 1s linear 2s both;
    animation: animate-background-stroke-21 1s linear 2s both;
}

@-webkit-keyframes animate-background-stroke-22 {
    0% {
        stroke-dashoffset: 120.65082550048828px;
        stroke-dasharray: 120.65082550048828px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65082550048828px;
    }
}

@keyframes animate-background-stroke-22 {
    0% {
        stroke-dashoffset: 120.65082550048828px;
        stroke-dasharray: 120.65082550048828px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65082550048828px;
    }
}

.svg-background-22 {
    -webkit-animation: animate-background-stroke-22 1s linear 2.1s both;
    animation: animate-background-stroke-22 1s linear 2.1s both;
}

@-webkit-keyframes animate-background-stroke-23 {
    0% {
        stroke-dashoffset: 120.65082550048828px;
        stroke-dasharray: 120.65082550048828px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65082550048828px;
    }
}

@keyframes animate-background-stroke-23 {
    0% {
        stroke-dashoffset: 120.65082550048828px;
        stroke-dasharray: 120.65082550048828px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65082550048828px;
    }
}

.svg-background-23 {
    -webkit-animation: animate-background-stroke-23 1s linear 2.2s both;
    animation: animate-background-stroke-23 1s linear 2.2s both;
}

@-webkit-keyframes animate-background-stroke-24 {
    0% {
        stroke-dashoffset: 120.65083312988281px;
        stroke-dasharray: 120.65083312988281px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65083312988281px;
    }
}

@keyframes animate-background-stroke-24 {
    0% {
        stroke-dashoffset: 120.65083312988281px;
        stroke-dasharray: 120.65083312988281px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65083312988281px;
    }
}

.svg-background-24 {
    -webkit-animation: animate-background-stroke-24 1s linear 2.3000000000000003s both;
    animation: animate-background-stroke-24 1s linear 2.3000000000000003s both;
}

@-webkit-keyframes animate-background-stroke-25 {
    0% {
        stroke-dashoffset: 120.65083312988281px;
        stroke-dasharray: 120.65083312988281px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65083312988281px;
    }
}

@keyframes animate-background-stroke-25 {
    0% {
        stroke-dashoffset: 120.65083312988281px;
        stroke-dasharray: 120.65083312988281px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65083312988281px;
    }
}

.svg-background-25 {
    -webkit-animation: animate-background-stroke-25 1s linear 2.4000000000000004s both;
    animation: animate-background-stroke-25 1s linear 2.4000000000000004s both;
}

@-webkit-keyframes animate-background-stroke-26 {
    0% {
        stroke-dashoffset: 120.65083312988281px;
        stroke-dasharray: 120.65083312988281px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65083312988281px;
    }
}

@keyframes animate-background-stroke-26 {
    0% {
        stroke-dashoffset: 120.65083312988281px;
        stroke-dasharray: 120.65083312988281px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65083312988281px;
    }
}

.svg-background-26 {
    -webkit-animation: animate-background-stroke-26 1s linear 2.5s both;
    animation: animate-background-stroke-26 1s linear 2.5s both;
}

@-webkit-keyframes animate-background-stroke-27 {
    0% {
        stroke-dashoffset: 120.65084838867188px;
        stroke-dasharray: 120.65084838867188px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65084838867188px;
    }
}

@keyframes animate-background-stroke-27 {
    0% {
        stroke-dashoffset: 120.65084838867188px;
        stroke-dasharray: 120.65084838867188px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65084838867188px;
    }
}

.svg-background-27 {
    -webkit-animation: animate-background-stroke-27 1s linear 2.6s both;
    animation: animate-background-stroke-27 1s linear 2.6s both;
}

@-webkit-keyframes animate-background-stroke-28 {
    0% {
        stroke-dashoffset: 120.65084838867188px;
        stroke-dasharray: 120.65084838867188px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65084838867188px;
    }
}

@keyframes animate-background-stroke-28 {
    0% {
        stroke-dashoffset: 120.65084838867188px;
        stroke-dasharray: 120.65084838867188px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65084838867188px;
    }
}

.svg-background-28 {
    -webkit-animation: animate-background-stroke-28 1s linear 2.7s both;
    animation: animate-background-stroke-28 1s linear 2.7s both;
}

@-webkit-keyframes animate-background-stroke-29 {
    0% {
        stroke-dashoffset: 120.65083312988281px;
        stroke-dasharray: 120.65083312988281px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65083312988281px;
    }
}

@keyframes animate-background-stroke-29 {
    0% {
        stroke-dashoffset: 120.65083312988281px;
        stroke-dasharray: 120.65083312988281px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65083312988281px;
    }
}

.svg-background-29 {
    -webkit-animation: animate-background-stroke-29 1s linear 2.8000000000000003s both;
    animation: animate-background-stroke-29 1s linear 2.8000000000000003s both;
}

@-webkit-keyframes animate-background-stroke-30 {
    0% {
        stroke-dashoffset: 120.65082550048828px;
        stroke-dasharray: 120.65082550048828px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65082550048828px;
    }
}

@keyframes animate-background-stroke-30 {
    0% {
        stroke-dashoffset: 120.65082550048828px;
        stroke-dasharray: 120.65082550048828px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65082550048828px;
    }
}

.svg-background-30 {
    -webkit-animation: animate-background-stroke-30 1s linear 2.9000000000000004s both;
    animation: animate-background-stroke-30 1s linear 2.9000000000000004s both;
}

@-webkit-keyframes animate-background-stroke-31 {
    0% {
        stroke-dashoffset: 120.65082550048828px;
        stroke-dasharray: 120.65082550048828px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65082550048828px;
    }
}

@keyframes animate-background-stroke-31 {
    0% {
        stroke-dashoffset: 120.65082550048828px;
        stroke-dasharray: 120.65082550048828px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65082550048828px;
    }
}

.svg-background-31 {
    -webkit-animation: animate-background-stroke-31 1s linear 3s both;
    animation: animate-background-stroke-31 1s linear 3s both;
}

@-webkit-keyframes animate-background-stroke-32 {
    0% {
        stroke-dashoffset: 120.65081787109375px;
        stroke-dasharray: 120.65081787109375px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65081787109375px;
    }
}

@keyframes animate-background-stroke-32 {
    0% {
        stroke-dashoffset: 120.65081787109375px;
        stroke-dasharray: 120.65081787109375px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65081787109375px;
    }
}

.svg-background-32 {
    -webkit-animation: animate-background-stroke-32 1s linear 3.1s both;
    animation: animate-background-stroke-32 1s linear 3.1s both;
}

@-webkit-keyframes animate-background-stroke-33 {
    0% {
        stroke-dashoffset: 120.65087127685547px;
        stroke-dasharray: 120.65087127685547px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65087127685547px;
    }
}

@keyframes animate-background-stroke-33 {
    0% {
        stroke-dashoffset: 120.65087127685547px;
        stroke-dasharray: 120.65087127685547px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65087127685547px;
    }
}

.svg-background-33 {
    -webkit-animation: animate-background-stroke-33 1s linear 3.2s both;
    animation: animate-background-stroke-33 1s linear 3.2s both;
}

@-webkit-keyframes animate-background-stroke-34 {
    0% {
        stroke-dashoffset: 120.65083312988281px;
        stroke-dasharray: 120.65083312988281px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65083312988281px;
    }
}

@keyframes animate-background-stroke-34 {
    0% {
        stroke-dashoffset: 120.65083312988281px;
        stroke-dasharray: 120.65083312988281px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65083312988281px;
    }
}

.svg-background-34 {
    -webkit-animation: animate-background-stroke-34 1s linear 3.3000000000000003s both;
    animation: animate-background-stroke-34 1s linear 3.3000000000000003s both;
}

@-webkit-keyframes animate-background-stroke-35 {
    0% {
        stroke-dashoffset: 120.65087127685547px;
        stroke-dasharray: 120.65087127685547px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65087127685547px;
    }
}

@keyframes animate-background-stroke-35 {
    0% {
        stroke-dashoffset: 120.65087127685547px;
        stroke-dasharray: 120.65087127685547px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65087127685547px;
    }
}

.svg-background-35 {
    -webkit-animation: animate-background-stroke-35 1s linear 3.4000000000000004s both;
    animation: animate-background-stroke-35 1s linear 3.4000000000000004s both;
}

@-webkit-keyframes animate-background-stroke-36 {
    0% {
        stroke-dashoffset: 120.65083312988281px;
        stroke-dasharray: 120.65083312988281px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65083312988281px;
    }
}

@keyframes animate-background-stroke-36 {
    0% {
        stroke-dashoffset: 120.65083312988281px;
        stroke-dasharray: 120.65083312988281px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65083312988281px;
    }
}

.svg-background-36 {
    -webkit-animation: animate-background-stroke-36 1s linear 3.5s both;
    animation: animate-background-stroke-36 1s linear 3.5s both;
}

@-webkit-keyframes animate-background-stroke-37 {
    0% {
        stroke-dashoffset: 120.65087127685547px;
        stroke-dasharray: 120.65087127685547px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65087127685547px;
    }
}

@keyframes animate-background-stroke-37 {
    0% {
        stroke-dashoffset: 120.65087127685547px;
        stroke-dasharray: 120.65087127685547px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65087127685547px;
    }
}

.svg-background-37 {
    -webkit-animation: animate-background-stroke-37 1s linear 3.6s both;
    animation: animate-background-stroke-37 1s linear 3.6s both;
}

@-webkit-keyframes animate-background-stroke-38 {
    0% {
        stroke-dashoffset: 120.65087127685547px;
        stroke-dasharray: 120.65087127685547px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65087127685547px;
    }
}

@keyframes animate-background-stroke-38 {
    0% {
        stroke-dashoffset: 120.65087127685547px;
        stroke-dasharray: 120.65087127685547px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65087127685547px;
    }
}

.svg-background-38 {
    -webkit-animation: animate-background-stroke-38 1s linear 3.7s both;
    animation: animate-background-stroke-38 1s linear 3.7s both;
}

@-webkit-keyframes animate-background-stroke-39 {
    0% {
        stroke-dashoffset: 2px;
        stroke-dasharray: 2px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 2px;
    }
}

@keyframes animate-background-stroke-39 {
    0% {
        stroke-dashoffset: 2px;
        stroke-dasharray: 2px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 2px;
    }
}

.svg-background-39 {
    -webkit-animation: animate-background-stroke-39 1s linear 3.8000000000000003s both;
    animation: animate-background-stroke-39 1s linear 3.8000000000000003s both;
}

@-webkit-keyframes animate-background-stroke-40 {
    0% {
        stroke-dashoffset: NaNpx;
        stroke-dasharray: NaNpx;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: NaNpx;
    }
}

@keyframes animate-background-stroke-40 {
    0% {
        stroke-dashoffset: NaNpx;
        stroke-dasharray: NaNpx;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: NaNpx;
    }
}

.svg-background-40 {
    -webkit-animation: animate-background-stroke-40 1s linear 3.9000000000000004s both;
    animation: animate-background-stroke-40 1s linear 3.9000000000000004s both;
}

@-webkit-keyframes animate-background-stroke-41 {
    0% {
        stroke-dashoffset: 501.1779389066397px;
        stroke-dasharray: 501.1779389066397px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 501.1779389066397px;
    }
}

@keyframes animate-background-stroke-41 {
    0% {
        stroke-dashoffset: 501.1779389066397px;
        stroke-dasharray: 501.1779389066397px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 501.1779389066397px;
    }
}

.svg-background-41 {
    -webkit-animation: animate-background-stroke-41 1s linear 4s both;
    animation: animate-background-stroke-41 1s linear 4s both;
}

@-webkit-keyframes animate-background-stroke-42 {
    0% {
        stroke-dashoffset: 120.65083312988281px;
        stroke-dasharray: 120.65083312988281px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65083312988281px;
    }
}

@keyframes animate-background-stroke-42 {
    0% {
        stroke-dashoffset: 120.65083312988281px;
        stroke-dasharray: 120.65083312988281px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 120.65083312988281px;
    }
}

.svg-background-42 {
    -webkit-animation: animate-background-stroke-42 1s linear 4.1000000000000005s both;
    animation: animate-background-stroke-42 1s linear 4.1000000000000005s both;
}