main {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
    margin: 0;
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif
}

header {
    top: 0;
    position: absolute;
    color: #ffffff;
    text-shadow: #000000 1px 1px;
    background-color: #4a4a4a;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    line-height: 2;
    font-size: 1.6rem;
    font-family: Big Shoulders Display, Roboto, Verdana;
}

header div {
    display: inline-block;
    vertical-align: middle;
}

header i {
    cursor: pointer;
    font-size: 1rem;
    color: #ffffff;
    text-transform: lowercase;
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    font-style: normal;
    letter-spacing: 0.1rem;
}

footer {
    bottom: 0;
    position: absolute;
    color: #ffffff;
    text-shadow: #000000 1px 1px;
    background-color: #4a4a4a;
    width: 100%;
    text-align: center;
    line-height: 2;
    font-size: 1.4rem;
    font-family: Big Shoulders Display, Roboto, Verdana;
}

header div span {
    animation: color 0.7s 0s both;
}

@keyframes color {
    0% {
        color: red;
    }
    20% {
        color: yellow;
    }
    40% {
        color: red;
    }
    60% {
        color: yellow;
    }
    80% {
        color: red;
    }
    100% {
        color: yellow;
    }
    
}