#logo {
    width: 16rem;
    position: absolute;
    z-index: 2;
    cursor: pointer;
}

@-webkit-keyframes animate-logo-stroke-1 {
    0% {
        stroke-dashoffset: 239.30165100097656px;
        stroke-dasharray: 239.30165100097656px;
        stroke: #e0e0e0;
    }
    80% {
        stroke: #cccccc;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 239.30165100097656px;
        stroke: #000000;
    }
}

@keyframes animate-logo-stroke-1 {
    0% {
        stroke-dashoffset: 239.30165100097656px;
        stroke-dasharray: 239.30165100097656px;
        stroke: #e0e0e0;
    }
    80% {
        stroke: #cccccc;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 239.30165100097656px;
        stroke: #000000;
    }
}

@-webkit-keyframes animate-logo-fill-1 {
    0% {
        fill: transparent;
    }
    100% {
        fill: transparent;
    }
}

@keyframes animate-logo-fill-1 {
    0% {
        fill: transparent;
    }
    100% {
        fill: transparent;
    }
}

.svg-cigalier-1 {
    -webkit-animation: animate-logo-stroke-1 2s ease-in 0s both, animate-logo-fill-1 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s both;
    animation: animate-logo-stroke-1 2s ease-in 0s both, animate-logo-fill-1 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s both;
}

@-webkit-keyframes animate-logo-stroke-2 {
    0% {
        stroke-dashoffset: 111.15392303466797px;
        stroke-dasharray: 111.15392303466797px;
        stroke: #e0e0e0;
    }
    80% {
        stroke: #cccccc;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 111.15392303466797px;
        stroke: #000000;
    }
}

@keyframes animate-logo-stroke-2 {
    0% {
        stroke-dashoffset: 111.15392303466797px;
        stroke-dasharray: 111.15392303466797px;
        stroke: #e0e0e0;
    }
    80% {
        stroke: #cccccc;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 111.15392303466797px;
        stroke: #000000;
    }
}

@-webkit-keyframes animate-logo-fill-2 {
    0% {
        fill: transparent;
    }
    100% {
        fill: transparent;
    }
}

@keyframes animate-logo-fill-2 {
    0% {
        fill: transparent;
    }
    100% {
        fill: transparent;
    }
}

.svg-cigalier-2 {
    -webkit-animation: animate-logo-stroke-2 2s ease-in 0.05s both, animate-logo-fill-2 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s both;
    animation: animate-logo-stroke-2 2s ease-in 0.05s both, animate-logo-fill-2 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s both;
}

@-webkit-keyframes animate-logo-stroke-3 {
    0% {
        stroke-dashoffset: 37.49757766723633px;
        stroke-dasharray: 37.49757766723633px;
        stroke: #e0e0e0;
    }
    80% {
        stroke: #cccccc;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 37.49757766723633px;
        stroke: #000000;
    }
}

@keyframes animate-logo-stroke-3 {
    0% {
        stroke-dashoffset: 37.49757766723633px;
        stroke-dasharray: 37.49757766723633px;
        stroke: #e0e0e0;
    }
    80% {
        stroke: #cccccc;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 37.49757766723633px;
        stroke: #000000;
    }
}

@-webkit-keyframes animate-logo-fill-3 {
    0% {
        fill: transparent;
    }
    100% {
        fill: transparent;
    }
}

@keyframes animate-logo-fill-3 {
    0% {
        fill: transparent;
    }
    100% {
        fill: transparent;
    }
}

.svg-cigalier-3 {
    -webkit-animation: animate-logo-stroke-3 2s ease-in 0.1s both, animate-logo-fill-3 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s both;
    animation: animate-logo-stroke-3 2s ease-in 0.1s both, animate-logo-fill-3 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s both;
}

@-webkit-keyframes animate-logo-stroke-4 {
    0% {
        stroke-dashoffset: 37.49757766723633px;
        stroke-dasharray: 37.49757766723633px;
        stroke: #e0e0e0;
    }
    80% {
        stroke: #cccccc;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 37.49757766723633px;
        stroke: #000000;
    }
}

@keyframes animate-logo-stroke-4 {
    0% {
        stroke-dashoffset: 37.49757766723633px;
        stroke-dasharray: 37.49757766723633px;
        stroke: #e0e0e0;
    }
    80% {
        stroke: #cccccc;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 37.49757766723633px;
        stroke: #000000;
    }
}

@-webkit-keyframes animate-logo-fill-4 {
    0% {
        fill: transparent;
    }
    100% {
        fill: transparent;
    }
}

@keyframes animate-logo-fill-4 {
    0% {
        fill: transparent;
    }
    100% {
        fill: transparent;
    }
}

.svg-cigalier-4 {
    -webkit-animation: animate-logo-stroke-4 2s ease-in 0.15000000000000002s both, animate-logo-fill-4 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s both;
    animation: animate-logo-stroke-4 2s ease-in 0.15000000000000002s both, animate-logo-fill-4 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s both;
}

@-webkit-keyframes animate-logo-stroke-5 {
    0% {
        stroke-dashoffset: 44.333343505859375px;
        stroke-dasharray: 44.333343505859375px;
        stroke: #e0e0e0;
    }
    80% {
        stroke: #cccccc;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 44.333343505859375px;
        stroke: #000000;
    }
}

@keyframes animate-logo-stroke-5 {
    0% {
        stroke-dashoffset: 44.333343505859375px;
        stroke-dasharray: 44.333343505859375px;
        stroke: #e0e0e0;
    }
    80% {
        stroke: #cccccc;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 44.333343505859375px;
        stroke: #000000;
    }
}

@-webkit-keyframes animate-logo-fill-5 {
    0% {
        fill: transparent;
    }
    100% {
        fill: transparent;
    }
}

@keyframes animate-logo-fill-5 {
    0% {
        fill: transparent;
    }
    100% {
        fill: transparent;
    }
}

.svg-cigalier-5 {
    -webkit-animation: animate-logo-stroke-5 2s ease-in 0.2s both, animate-logo-fill-5 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s both;
    animation: animate-logo-stroke-5 2s ease-in 0.2s both, animate-logo-fill-5 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s both;
}

@-webkit-keyframes animate-logo-stroke-6 {
    0% {
        stroke-dashoffset: 21.079381942749023px;
        stroke-dasharray: 21.079381942749023px;
        stroke: #e0e0e0;
    }
    80% {
        stroke: #cccccc;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 21.079381942749023px;
        stroke: #000000;
    }
}

@keyframes animate-logo-stroke-6 {
    0% {
        stroke-dashoffset: 21.079381942749023px;
        stroke-dasharray: 21.079381942749023px;
        stroke: #e0e0e0;
    }
    80% {
        stroke: #cccccc;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 21.079381942749023px;
        stroke: #000000;
    }
}

@-webkit-keyframes animate-logo-fill-6 {
    0% {
        fill: transparent;
    }
    100% {
        fill: transparent;
    }
}

@keyframes animate-logo-fill-6 {
    0% {
        fill: transparent;
    }
    100% {
        fill: transparent;
    }
}

.svg-cigalier-6 {
    -webkit-animation: animate-logo-stroke-6 2s ease-in 0.25s both, animate-logo-fill-6 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s both;
    animation: animate-logo-stroke-6 2s ease-in 0.25s both, animate-logo-fill-6 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s both;
}

@-webkit-keyframes animate-logo-stroke-7 {
    0% {
        stroke-dashoffset: 33.75px;
        stroke-dasharray: 33.75px;
        stroke: #e0e0e0;
    }
    80% {
        stroke: #cccccc;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 33.75px;
        stroke: #000000;
    }
}

@keyframes animate-logo-stroke-7 {
    0% {
        stroke-dashoffset: 33.75px;
        stroke-dasharray: 33.75px;
        stroke: #e0e0e0;
    }
    80% {
        stroke: #cccccc;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 33.75px;
        stroke: #000000;
    }
}

@-webkit-keyframes animate-logo-fill-7 {
    0% {
        fill: transparent;
    }
    100% {
        fill: transparent;
    }
}

@keyframes animate-logo-fill-7 {
    0% {
        fill: transparent;
    }
    100% {
        fill: transparent;
    }
}

.svg-cigalier-7 {
    -webkit-animation: animate-logo-stroke-7 2s ease-in 0.30000000000000004s both, animate-logo-fill-7 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4000000000000001s both;
    animation: animate-logo-stroke-7 2s ease-in 0.30000000000000004s both, animate-logo-fill-7 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4000000000000001s both;
}
