 @-webkit-keyframes animate-typo-fill-1 {
     0% {
         fill: transparent;
     }
     100% {
         fill: rgb(0, 0, 0);
     }
 }

 @keyframes animate-typo-fill-1 {
     0% {
         fill: transparent;
     }
     100% {
         fill: rgb(0, 0, 0);
     }
 }

 .svg-typo-1 {
     -webkit-animation: animate-typo-fill-1 2s ease-in 0.8s both;
     animation: animate-typo-fill-1 2s ease-in 0.8s both;
 }

 @-webkit-keyframes animate-typo-fill-2 {
     0% {
         fill: transparent;
     }
     100% {
         fill: rgb(0, 0, 0);
     }
 }

 @keyframes animate-typo-fill-2 {
     0% {
         fill: transparent;
     }
     100% {
         fill: rgb(0, 0, 0);
     }
 }

 .svg-typo-2 {
     -webkit-animation: animate-typo-fill-2 2s ease-in 1s both;
     animation: animate-typo-fill-2 2s ease-in 1s both;
 }

 @-webkit-keyframes animate-typo-fill-3 {
     0% {
         fill: transparent;
     }
     100% {
         fill: rgb(0, 0, 0);
     }
 }

 @keyframes animate-typo-fill-3 {
     0% {
         fill: transparent;
     }
     100% {
         fill: rgb(0, 0, 0);
     }
 }

 .svg-typo-3 {
     -webkit-animation: animate-typo-fill-3 2s ease-in 1.2000000000000002s both;
     animation: animate-typo-fill-3 2s ease-in 1.2000000000000002s both;
 }

 @-webkit-keyframes animate-typo-fill-4 {
     0% {
         fill: transparent;
     }
     100% {
         fill: rgb(0, 0, 0);
     }
 }

 @keyframes animate-typo-fill-4 {
     0% {
         fill: transparent;
     }
     100% {
         fill: rgb(0, 0, 0);
     }
 }

 .svg-typo-4 {
     -webkit-animation: animate-typo-fill-4 2s ease-in 1.4000000000000001s both;
     animation: animate-typo-fill-4 2s ease-in 1.4000000000000001s both;
 }

 @-webkit-keyframes animate-typo-fill-5 {
     0% {
         fill: transparent;
     }
     100% {
         fill: rgb(0, 0, 0);
     }
 }

 @keyframes animate-typo-fill-5 {
     0% {
         fill: transparent;
     }
     100% {
         fill: rgb(0, 0, 0);
     }
 }

 .svg-typo-5 {
     -webkit-animation: animate-typo-fill-5 2s ease-in 1.6s both;
     animation: animate-typo-fill-5 2s ease-in 1.6s both;
 }

 @-webkit-keyframes animate-typo-fill-6 {
     0% {
         fill: transparent;
     }
     100% {
         fill: rgb(0, 0, 0);
     }
 }

 @keyframes animate-typo-fill-6 {
     0% {
         fill: transparent;
     }
     100% {
         fill: rgb(0, 0, 0);
     }
 }

 .svg-typo-6 {
     -webkit-animation: animate-typo-fill-6 2s ease-in 1.8s both;
     animation: animate-typo-fill-6 2s ease-in 1.8s both;
 }

 @-webkit-keyframes animate-typo-fill-7 {
     0% {
         fill: transparent;
     }
     100% {
         fill: rgb(0, 0, 0);
     }
 }

 @keyframes animate-typo-fill-7 {
     0% {
         fill: transparent;
     }
     100% {
         fill: rgb(0, 0, 0);
     }
 }

 .svg-typo-7 {
     -webkit-animation: animate-typo-fill-7 2s ease-in 2s both;
     animation: animate-typo-fill-7 2s ease-in 2s both;
 }

 @-webkit-keyframes animate-typo-fill-8 {
     0% {
         fill: transparent;
     }
     100% {
         fill: rgb(0, 0, 0);
     }
 }

 @keyframes animate-typo-fill-8 {
     0% {
         fill: transparent;
     }
     100% {
         fill: rgb(0, 0, 0);
     }
 }

 .svg-typo-8 {
     -webkit-animation: animate-typo-fill-8 2s ease-in 2.2s both;
     animation: animate-typo-fill-8 2s ease-in 2.2s both;
 }